<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Deep Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="hero-section">
        <h1>Deep Learning</h1>
        <p>Created by Atika Rachmawati</p>
        <h2>Welcome to Project Dashboard</h2>
      </div>

      <div class="cta-section">
        <form action="/ea1" method="get">
          <button type="submit" class="button-primary">Go to Image Classification</button>
        </form>
      </div>
      <div>
        <form action="/ea2" method="get">
          <button type="submit" class="button-primary">Go to Regression with Feed-Forward Neural Network</button>
        </form>
      </div>
    </div>
  </body>
</html>
