<!DOCTYPE html>
<html>
  <head>
    <title>Deep Learning</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Deep Learning</h1>
    <p>Atika Rachmawati</p>

    <form action="/ea1" method="get">
      <button type="submit">Go to Einsendeaufgabe 1</button>
    </form>
  </body>
</html>
