body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f8;
    color: #2c3e50;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading styles */
h1 {
    font-size: 3em;
    font-weight: 700;
    color: #34495e;
    margin-bottom: 10px;
    text-align: center;
}
  
h2 {
    font-size: 1.8em;
    font-weight: 500;
    color: #5969b6;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    color: #2c3e50;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    text-align: center;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.plot-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
.chart-container div {
    margin-top: 0.5em;
    font-size: 14px;
    font-weight: bold;
}

canvas {
    max-width: 600px;  /* Fixed width for consistency */
    max-height: 400px; /* Fixed height for consistency */
    margin-top: 10px;
    margin-left: 20px; /* Space between image and chart */
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.controls button {
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5969b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.controls button:hover {
  background-color: #4455ad;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#predictions button {
  padding: 14px 28px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5969b6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#predictions button:hover {
  background-color: #4455ad;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
